
body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	background-repeat: no-repeat;
	background-size: cover;

}
body#kenyapage{
	background: url(../image/flag.jpg)

}

.header{
	margin: 0 auto;
	
}
.kenya{
	/*color: red;*/
	font-weight: 25pt;
	font-family: serif;
	letter-spacing: 2px;
	line-height: 2em;
}